/target/classes/data/Airline.class~ReportClass
/target/classes/data/Airport.class~ReportClass
/target/classes/presentation/AirportView.class~ReportClass
/target/classes/data/Flight.class~ReportClass
/target/classes/data/Location.class~ReportClass
/target/
.idea/